.p-component, .p-component * {
    box-sizing: border-box;
}

.p-hidden {
    display: none;
}

.p-hidden-space {
    visibility: hidden;
}

.p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.p-hidden-accessible input,
.p-hidden-accessible select {
    transform: scale(0);
}

.p-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.p-disabled, .p-disabled * {
    cursor: default !important;
    pointer-events: none;
}
.p-disabled, .p-component:disabled {
  opacity: 0.6;
}


.p-component-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-overflow-hidden {
    overflow: hidden;
}

.p-unselectable-text {
    user-select: none;
}

.p-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

@-webkit-keyframes p-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes p-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
    border-radius: 0;
}

.p-link {
	text-align: left;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
    cursor: pointer;
    user-select: none;
}

.p-link:disabled {
	cursor: default;
}

.p-sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

/* Non ng overlay animations */
.p-connected-overlay {
    opacity: 0;
    transform: scaleY(0.8);
    transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
}

.p-connected-overlay-visible {
    opacity: 1;
    transform: scaleY(1);
}

.p-connected-overlay-hidden {
    opacity: 0;
    transform: scaleY(1);
    transition: opacity .1s linear;
}

.p-toggleable-content.ng-animating {
    overflow: hidden;
}


.p-badge {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
}

.p-overlay-badge {
    position: relative;
}

.p-overlay-badge .p-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    transform-origin: 100% 0;
    margin: 0;
}

.p-badge-dot {
    width: .5rem;
    min-width: .5rem;
    height: .5rem;
    border-radius: 50%;
    padding: 0;
}

.p-badge-no-gutter {
    padding: 0;
    border-radius: 50%;
}
.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.p-button-label {
    flex: 1 1 auto;
}

.p-button-icon-right {
    order: 1;
}

.p-button:disabled {
    cursor: default;
}

.p-button-icon-only {
    justify-content: center;
}

.p-button-icon-only:after {
    content: 'p';
    visibility: hidden;
    clip: rect(0 0 0 0);
    width: 0;
}

.p-button-vertical {
    flex-direction: column;
}

.p-button-icon-bottom {
    order: 2;
}

.p-buttonset .p-button {
    margin: 0;
}

.p-buttonset .p-button:not(:last-child) {
    border-right: 0 none;
}

.p-buttonset .p-button:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}

.p-buttonset .p-button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-buttonset .p-button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-buttonset .p-button:focus {
    position: relative;
    z-index: 1;
}

.p-checkbox {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: bottom;
    position: relative;
}

.p-checkbox-disabled {
    cursor: default !important;
    pointer-events: none;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

p-checkbox {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
}

.p-checkbox-label {
    line-height: 1;
}

.p-colorpicker-panel .p-colorpicker-color {
    /*background: transparent url("./images/color.png") no-repeat left top; */
}

.p-colorpicker-panel .p-colorpicker-hue {
   /*background: transparent url("./images/hue.png") no-repeat left top; */
}
.p-inputtext {
    margin: 0;
}

.p-fluid .p-inputtext {
    width: 100%;
}

/* InputGroup */
.p-inputgroup {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.p-inputgroup-addon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-inputgroup .p-float-label {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext,
.p-inputgroup .p-inputwrapper,
.p-inputgroup .p-inputwrapper > .p-component {
    flex: 1 1 auto;
    width: 1%;
}

/* Floating Label */
.p-float-label {
    display: block;
    position: relative;
}

.p-float-label label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
}

.p-float-label textarea ~ label {
    top: 1rem;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -.75rem;
    font-size: 12px;
}

.p-float-label .input:-webkit-autofill ~ label {
    top: -20px;
    font-size: 12px;
}

.p-float-label .p-placeholder,
.p-float-label input::placeholder,
.p-float-label .p-inputtext::placeholder {
    opacity: 0;
    transition-property: all;
    transition-timing-function: ease;
}
.p-float-label .p-focus .p-placeholder,
.p-float-label input:focus::placeholder,
.p-float-label .p-inputtext:focus::placeholder {
    opacity: 1;
    transition-property: all;
    transition-timing-function: ease;
}

.p-input-icon-left,
.p-input-icon-right {
    position: relative;
    display: inline-block;
}

.p-input-icon-left > i,
.p-input-icon-right > i {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}

.p-fluid .p-input-icon-left,
.p-fluid .p-input-icon-right {
    display: block;
    width: 100%;
}
.p-inputtextarea-resizable {
    overflow: hidden;
    resize: none;
}

.p-fluid .p-inputtextarea {
    width: 100%;
}
.p-password {
    position: relative;
    display: inline-flex;
}

.p-password-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.p-password .p-password-panel {
    min-width: 100%;
}

.p-password-meter {
    height: 10px;
}

.p-password-strength {
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
}

.p-fluid .p-password {
    display: flex;
}

.p-password-clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
    cursor: pointer;
}

.p-password-clearable {
    position: relative;
}

.p-radiobutton {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: bottom;
    position: relative;
}

.p-radiobutton-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-radiobutton-icon {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(.1);
    border-radius: 50%;
    visibility: hidden;
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(1.0, 1.0);
    visibility: visible;
}

p-radiobutton {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
}

.p-radiobutton-label {
    line-height: 1;
}

.p-ripple {
    overflow: hidden;
    position: relative;
}

.p-ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    transform: scale(0);
}
  
.p-ink-active {
    animation: ripple 0.4s linear;
}

.p-ripple-disabled .p-ink {
    display: none !important;
}
  
@keyframes ripple {  
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
.p-tooltip {
    position:absolute;
    display:none;
    padding: .25em .5rem;
    max-width: 12.5rem;
}

.p-tooltip.p-tooltip-right,
.p-tooltip.p-tooltip-left {
    padding: 0 .25rem;
}

.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
    padding:.25em 0;
}

.p-tooltip .p-tooltip-text {
   white-space: pre-line;
   word-break: break-word;
}

.p-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.p-tooltip-right .p-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -.25rem;
    border-width: .25em .25em .25em 0;
}

.p-tooltip-left .p-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -.25rem;
    border-width: .25em 0 .25em .25rem;
}

.p-tooltip.p-tooltip-top {
    padding: .25em 0;
}

.p-tooltip-top .p-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -.25rem;
    border-width: .25em .25em 0;
}

.p-tooltip-bottom .p-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -.25rem;
    border-width: 0 .25em .25rem;
}
.p-datatable-table {
  border-spacing: 0px;
  width: 100%;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 15px;
  font-weight: 400;
  color: #909090;
  background: var(--cbbbggray) !important;
  transition: box-shadow 0.2s;
  font-size: 14px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
  color: #495057;
  transition: box-shadow 0.2s;
}

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid var(--cbbgrayborder);
    border-width: 0 0 1px 0;
    padding: 10px 15px;
    font-size: 14px;
    color: #222222;
  }

.p-input-icon-left, .p-input-icon-right {
  position: relative;
  display: inline-block;
}

.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: #4b5563;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-inputtext {
  margin: 0;
}

.p-input-icon-left > .p-icon-wrapper.p-icon, .p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: #6b7280;
}

.p-button.btn {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
}

  .p-button.btn .p-button-icon {
    margin-right: 10px;
    font-size: 13px;
  }

.btn.btn-primary {
  color: #fff;
  background-color: var(--cbbblue);
  border-color: var(--cbbblue);
}

.btn.btn-secondary {
  color: #fff;
  background-color: var(--cbbgreen);
  border-color: var(--cbbgreen);
}
/*table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
  right: 1em;
  content: "↑";
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
  right: 0.5em;
  content: "↓";
}
table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::after {
  opacity: 1;
}*/
.p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.p-paginator {
  background: #ffffff;
  color: #6b7280;
  border: solid #f3f4f6;
  border-width: 0;
  padding: 0.5rem 0;
  border-radius: 8px;
}

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--cbbblue);
    border-color: var(--cbbblue);
    color: #fff;
  }

.p-ink {
  display: block;
  position: absolute;
  background: rgba(255,255,255,.5);
  border-radius: 100%;
  transform: scale(0);
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 32px;
  height: 32px;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 8px;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover,
.p-paginator .p-paginator-first:not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-highlight):hover {
  background: var(--cbbblue);
  border-color: var(--cbbblue);
  color: #fff;
}

.p-link:disabled {
  cursor: default;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 3rem;
  height: 33px;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 8px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  height: 32px;
  width: 32px;
  border-radius: 8px;
}

.p-dropdown {
  background: #ffffff;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}
.paginator_dropdown, .p-paginator-current {
  font-size: 14px;
}
.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6b7280;
  padding: 9px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.p-inputtext {
  font-size: 1rem;
  color: #4b5563;
  background: #ffffff;
  padding: 9px;
  border: 1px solid #d1d5db;
  appearance: none;
  border-radius: 8px;
}

span.p-paginator-current {
  padding-right: 10px;
  line-height: normal;
}
.p-datatable-table {
  border-spacing: 0px;
  width: 100%;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 15px;
  font-weight: 400;
  color: #909090;
  background: var( --cbblightgray) !important;
  transition: box-shadow 0.2s;
  font-size: 14px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
  color: #495057;
  transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid var(--cbbgrayborder);
  border-width: 0 0 1px 0;
  padding:10px 15px;
  font-size: 14px;
  color: #222222;
}

.p-input-icon-left, .p-input-icon-right {
  position: relative;
  display: inline-block;
}

.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: #4b5563;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-inputtext {
  margin: 0;
}

.p-input-icon-left > .p-icon-wrapper.p-icon, .p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: #6b7280;
}

.p-button.btn {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  font-size:16px;
  border:1px solid;
}

  .p-button.btn .p-button-icon {
    margin-right: 10px;
    font-size: 13px;
  }

.btn.btn-primary {
  color: #fff;
  background-color: var(--cbbblue);
  border-color: var(--cbbblue);
  transition: all 0.5s ease-in-out;

}

.btn.btn-secondary {
  color: #fff;
  background-color: var(--cbbgreen);
  border-color: var(--cbbgreen);
  transition: all 0.5s ease-in-out;
}
.btn.btn-secondary:hover, .btn.btn-primary:hover {
  background: #333;
  color: var(--cbbwhite);
}

.p-button.btn-outline, .btn.btn-outline {
  background: var(--cbbwhite);
  border-color: var( --cbbgrayborder);
  color: var(--cbbblack);
  min-width: 135px;
}
.btn.btn-outline:hover {
  background: var(--cbbDarkGrey);
  color: var(--cbbwhite);
}
.p-dropdown {
  background: #ffffff;
  border: 1px solid var( --cbbgrayborder);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

  .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
  }

.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6b7280;
  padding: 9px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.p-inputtext {
  color: #4b5563;
  background: #ffffff;
  padding: 9px;
  border: 1px solid var(--cbbgrayborder);
  appearance: none;
  border-radius: 8px;
  font-size:14px;
}
.p-inputtext::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #909090;
}

.p-inputtext::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
  color: #909090;
}

.p-inputtext:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
  color: #909090;
}

.p-inputtext:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
  color: #909090;
}
span.p-paginator-current {
  padding-right: 10px;
  line-height: normal;
}
.p-dropdown-panel {
  background: #ffffff;
  color: #4b5563;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.p-dropdown .p-dropdown-panel {
  min-width: 100%;
}
.p-dropdown-items-wrapper {
  overflow: auto;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 0.75rem 0;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 0.75rem 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #4b5563;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #1D4ED8;
  background: #EFF6FF;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: rgba(59, 130, 246, 0.24);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #4b5563;
  background: #f3f4f6;
}
p-checkbox {
  display: inline-flex;
  vertical-align: bottom;
  align-items: center;
}



