<div class="inner_padding edit_user_page">
  <div class="custom-form">
    <div class="Internaltitle card-header d-flex justify-content-between align-items-center">
      <h2>{{ 'lblAddUser' | translate }}</h2>
    </div>
  </div>
  
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="inner_padding px-0 ">
          <div class="row">
            <div class="col-lg-12">
              <div class="edit-profile-accordio addInternal ">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <form [formGroup]="userform">
                    <div class="card ">
                      <div class="card-header cardHeaderBoxShadow">
                        <div class="form-title pl-2">{{'lblAddUser' | translate}}</div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <!-- <div class="col-lg-6 col-xs-12">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblPlantName' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <p-dropdown appendTo="body" [options]="plantList" [formControl]="userform.controls.PlantID" class="searchdropdown"
                                                  placeholder="{{'lblPlantName' | translate}}" optionLabel="name" optionValue="value">
                                          <ng-template let-fs pTemplate="item">
                                              {{ fs.name | translate}}
                                          </ng-template>
                                          <ng-template let-rprtOption pTemplate="selectedUserType">
                                              {{rprtOption.name | translate}}
                                          </ng-template>
                                      </p-dropdown>
                                      @if(isSubmitted && userform.controls.PlantID.errors){
                                      <div class="mandatoryStar">
                                          {{'lblPlantProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div> -->
                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblFirstName' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <input pInputText class="form-control" formControlName="FirstName" placeholder="{{'lblFirstName' | translate}}" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.FirstName.errors }" autocomplete="off" maxlength="32">
                                      @if(isSubmitted && userform.controls.FirstName.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserFirstNameProvider'|translate}}
                                      </div>
                                      }

                                  </div>
                              </div>

                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblLastName' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <input pInputText class="form-control" formControlName="LastName" placeholder="{{'lblLastName' | translate}}" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.LastName.errors }" autocomplete="off" maxlength="32">
                                      @if(isSubmitted && userform.controls.LastName.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserLastNameProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>

                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblEmail' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <input pInputText class="form-control" formControlName="Email" placeholder="{{'lblEmail' | translate}}" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.Email.errors }" autocomplete="off" maxlength="32">
                                      @if(isSubmitted && userform.controls.Email.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserEmailProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>

                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblUserName' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <input pInputText class="form-control" formControlName="UserName" placeholder="{{'lblUserName' | translate}}" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.UserName.errors }" autocomplete="off" maxlength="32">
                                      @if(isSubmitted && userform.controls.UserName.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserNameProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>

                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblPassword' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <input type="password" pInputText class="form-control" formControlName="Password" placeholder="{{'lblPassword' | translate}}" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.Password.errors }" autocomplete="off" maxlength="32">
                                      @if(isSubmitted && userform.controls.Password.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserPasswordProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>
                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblPhone' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <p-inputMask [style]="{ width: '100%'}" formControlName="Phone" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.Phone.errors }" mask="999-999-9999" placeholder="000-000-0000"></p-inputMask>
                                      @if(isSubmitted && userform.controls.Phone.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserPhoneProvider'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>

                              <!-- <div class="col-lg-6 col-xs-12">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblRole' | translate}}: <sup class="mandatoryStar">*</sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <p-dropdown appendTo="body" [options]="permissionList" [formControl]="userform.controls.RoleID" class="searchdropdown"
                                                  placeholder="{{'lblRole' | translate}}" optionLabel="name" optionValue="value">
                                          <ng-template let-fs pTemplate="item">
                                              {{ fs.name | translate}}
                                          </ng-template>
                                          <ng-template let-rprtOption pTemplate="selectedUserType">
                                              {{rprtOption.name | translate}}
                                          </ng-template>
                                      </p-dropdown>
                                      @if(isSubmitted && userform.controls.RoleID.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserRoleProvider'|translate}}
                                      </div>
                                      }
                                      <a class="global_text_btn mandatoryStar" style="float:right" [routerLink]="['/site']">{{ 'lblCustomRole' | translate }}</a>
                                  </div>
                              </div> -->

                              <div class="col-lg-6 col-xs-12 mb-3">
                                  <div class="col-md-12 float-left px-0 bold-label">
                                      <label class="mb-0">{{'lblNotification' | translate}}: <sup class="mandatoryStar"></sup></label>
                                  </div>
                                  <div class="col-md-12 float-left px-0">
                                      <p-checkbox formControlName="EmailNotification" [ngClass]="{ 'is-invalid': isSubmitted && userform.controls.EmailNotification.errors }" [binary]="true" inputId="binary"></p-checkbox>
                                      @if(isSubmitted && userform.controls.EmailNotification.errors){
                                      <div class="mandatoryStar">
                                          {{'lblUserEmailnotificationProvide'|translate}}
                                      </div>
                                      }
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 mb-2">
              <div class="bottom_button">
                <p-button label="{{'lblSave' | translate}}" styleClass="btn btn-primary" (click)="onSave();"></p-button>
                <!-- <p-button label="{{'lblCancel' | translate}}" styleClass="btn btn-outline" [routerLink]="['/user']"></p-button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

